# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Build
build/
dist/

# Cache
.mypy_cache/
.ruff_cache/

# Secrets
*.pem
*.key